h1 {
  font-size: 20px;
  text-align: left;
  margin: 15px;
}
.table {
  width: 75%;
  margin: 10px;
}
.table th {
  border: 1px solid darkgray;
  padding: 8px;
  background-color: lightgray;
}
.table td:nth-child(1) {
  border: 1px solid darkgray;
  padding: 8px;
  font-weight: bold;
  background-color: lightgray;
}
.table td {
  border: 1px solid darkgray;
  padding: 8px;
  font-weight: bold;
  background-color: white;
}
